body{
    background-color: rgb(100, 243, 100);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    width: 300px;
}

input, button{
    padding: 10px;
    margin-bottom: 10px;
    width: -webkit-fill-available; /* AUMENTAR CAMPOS PARA O ESPAÇO TOTAL DISPONÍVEL */
}

button{
    cursor: pointer;    
}

button:active{
    opacity: 0.8;
}

.btRecuperarSenha{
    background: transparent;
    border: none;
}

.btEntrar, .btRegistrar{
    border: 1px solid white;
}