body{
    margin: 0;
}

.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field{ /* Formulário de alguns campos */ 
    margin-bottom: 10px;
}

input, button{ /* Campos inserção de texto e botão */
    padding: 10px;
    width: -webkit-fill-available; /* Aumentar campos para o espaço total disponível */
}

.loading{
    background: rgba(0, 0, 0, 0.5); /* Digigo 1, 2 e 3 representa a cor preta. Digito 4 representa opacidade */
    position: fixed;
    width: 100%;
    height: 100%;
}

.loading label{
    font-size: 24px;
}

.clear{ /* Botão limpo */
    color: white;
    background: transparent;
    border: none;
}

.solid{ /* Botão solido */
    color:rgb(100, 243, 100);
    background: white;
    border: none;
}

.outline{ /* Botão vazado */
    background: transparent;
    color: white;
    border: 1px solid white;
}

button:active{ /* Botão pressionado */
    opacity: 0.8;
}

button[disabled]{ /* Botão desabilitado */
    opacity: 0.2;
}

.error{ /* Erros */
    color: white;
    background: red;
    display: none; /* Não exibir em tela */
}