body{ /* Corpo da página */
    margin: 0;
    background-color: rgb(1, 110, 1);
}

header{
    text-align: right;
}

header button{
    width: auto;
}

.centralize{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-field{ /* Formulário de alguns campos */ 
    margin-bottom: 10px;
}

input, button, select{ /* Campos inserção de texto, botão e seleção serão espandidos */
    padding: 10px;
    width: -webkit-fill-available; /* Aumentar campos para o espaço total disponível */
}

input[type="radio"]{
    width: auto;
}

.loading{
    background: rgba(0, 0, 0, 0.5); /* Digigo 1, 2 e 3 representa a cor preta. Digito 4 representa opacidade */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.loading label{
    font-size: 24px;
}

.clear{ /* Botão limpo */
    color: white;
    background: transparent;
    border: none;
}

.solid{ /* Botão solido */
    color:rgb(100, 243, 100);
    background: white;
    border: none;
}

.outline{ /* Botão vazado */
    background: transparent;
    color: white;
    border: 1px solid white;
}

button:active{ /* Botão pressionado */
    opacity: 0.8;
}

button[disabled]{ /* Botão desabilitado */
    opacity: 0.2;
}

button.fab{ 
    width: 54px; /* Largura */
    height: 54px; /* Altura */
    border-radius: 50px; /* Borda nas pontas */
    border: none; /* Sem borda laterais */
    font-size: 24px; /* Tamanho da fonte */
    box-shadow: 2px 2px 2px gray; /* Sombra: direita, esquerda, expandir, cor cinza */
}

button.fab.fixed{
    position: fixed;
}

button.fab.bottom{
    bottom: 32px;
}

button.fab.right{
    right: 32px;
}

.outline.danger{
    color: red;
    border-color: red;
}

.error{ /* Erros */
    color: white;
    background: red;
    display: none; /* Não exibir em tela */
}