body{ /* Corpo da página */
    background-color: rgb(1, 110, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{ /* Formulario geral */
    width: 300px;
}

input{ /* Campos de inserção de texto */
    border: none;
}

input, button{ /* Campos inserção de texto e botão */
    padding: 10px;
    width: -webkit-fill-available; /* Aumentar campos para o espaço total disponível */
}

.form-field{ /* Formulário de alguns campos */ 
    margin-bottom: 10px;
}

button{ /* Botoes */
    cursor: pointer;
    margin-bottom: 10px;
}